@{
    Layout = "Shared/_Layout.cshtml";
}

<p>
    @Res.About.ParaAbout
</p>

<div class="row">
    <div class="span4">
        <h3>@Res.About.LabelStep1</h3>
        <p>@Res.About.ParaStep1</p>
    </div>
    <div class="span4">
        <h3>@Res.About.LabelStep2</h3>
        <p>@Res.About.ParaStep2</p>
    </div>
    <div class="span4">
        <h3>@Res.About.LabelStep3</h3>
        <p>@Res.About.ParaStep3</p>
    </div>
</div>