@using Cassette.Nancy
@{
    //Common styles
    Bundles.Reference("Content/css/libs/", "css-libs");

    //Common scripts
    Bundles.Reference("Content/scripts/libs/", "script-libs");
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Res.Shared.Layout.CompanyName</title>
        
        @Bundles.RenderStylesheets("css-libs")
        @Bundles.RenderStylesheets()
    </head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Res.Href.Home">@Res.Shared.Layout.CompanyName</a>
                <div class="nav-collapse">
                    <ul class="nav nav-pills">
                        <li><a rel="dashboard" href="@Res.Href.Home">@Res.Shared.Elements.MenuDashboard</a></li>
                        <li><a rel="about" href="@Res.Href.About">@Res.Shared.Elements.MenuAbout</a></li>
                    </ul>
                </div>
                
                @if (Model.CurrentUser == null)
                {
                    <form class="navbar-form pull-right form-inline" action="@Res.API.Login" method="POST">
                        <input name="username" class="input-small" type="text" placeholder="@Res.Shared.Elements.LabelUserName" />
                        <input name="password" class="input-small" type="password" placeholder="@Res.Shared.Elements.LabelPassword" />
                        <label class="checkbox"><input type="checkbox" name="RememberMe" />@Res.Shared.Elements.CheckboxRememberMe</label>
                        <input type="submit" class="btn" value="@Res.Shared.Elements.ButtonLogin" />
                        <a href="@Res.Href.Register" class="btn">@Res.Shared.Elements.LabelRegister</a>
                    </form>
                }
                else
                {
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">@Model.CurrentUser.UserName&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Res.Href.EditProfile">@Res.Shared.Elements.LinkEditProfile</a></li>
                                <li class="divider"></li>
                                <li><a href="@Res.Href.Logout">@Res.Shared.Elements.ButtonLogout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div id="content">
            @RenderBody()
        </div>

        <hr>
        <footer>
            <p>&copy; @Res.Shared.Layout.CompanyName 2012</p>
        </footer>
    </div>

    <!-- /container -->
    @Bundles.RenderScripts("script-libs")
    @Bundles.RenderScripts()
</body>
</html>
