@using Cassette.Nancy
@{
    //Common styles
    Bundles.Reference("Content/css/libs/", "css-libs");

    //Common scripts
    Bundles.Reference("Content/scripts/libs/jquery-1.7.2.js", "script-libs");
    Bundles.Reference("Content/scripts/libs/", "script-libs");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Res._Layout.CompanyName</title>
    
    @Bundles.RenderStylesheets("css-libs")
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">@Res._Layout.CompanyName</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                
                    <form class="navbar-form pull-right form-inline" action="/api/login" method="POST">
                        <input name="username" class="input-small" type="text" placeholder="User Name" />
                        <input name="password" class="input-small" type="password" placeholder="Password" />
                        <label class="checkbox"><input type="checkbox" name="RememberMe" />@Res._Layout.RememberMe</label>
                        <input type="submit" class="btn" value="Login" />
                    </form>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div id="content">
            @RenderBody()
        </div>

        <hr>
        <footer>
            <p>
                &copy; @Res._Layout.CompanyName 2012</p>
        </footer>
    </div>

    <!-- /container -->
    @Bundles.RenderScripts("script-libs")
    @Bundles.RenderScripts()
</body>
</html>
