<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Res.Shared.Layout.CompanyName</title>
        
        <link rel="stylesheet" href="./css/base.css" />
        <script type="text/javascript" src="//commondev.iqmetrix.net/js/iq.bootstrap.min.js"></script>
        <script type="text/javascript" src="./scripts/initializer.js"></script>
    </head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Res.Href.Home">@Res.Shared.Layout.CompanyName</a>
                <div class="nav-collapse">
                    <ul class="nav nav-pills">
                        <li><a rel="dashboard" href="@Res.Href.Home">@Res.Shared.Elements.MenuDashboard</a></li>
                        <li><a rel="about" href="@Res.Href.About">@Res.Shared.Elements.MenuAbout</a></li>
                    </ul>
                </div>
                
                @if (Model.CurrentUser == null)
                {
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">@Res.Shared.Elements.LabelLogin&nbsp;<b class="caret"></b></a>
                            <div class="dropdown-menu register-form span4">
                                <form action="@Res.API.Login" method="POST">
                                    <div class="row">
                                        <div class="span2">
                                            <label for="login-username">@Res.Shared.Elements.LabelUserName</label>
                                            <input id="login-username" name="username" class="input-medium" type="text" placeholder="@Res.Shared.Elements.LabelUserName" />
                                            <label class="checkbox"><input type="checkbox" name="RememberMe" />@Res.Shared.Elements.CheckboxRememberMe</label>
                                        </div>
                                        <div class="span2">
                                            <label for="login-password">@Res.Shared.Elements.LabelPassword</label>
                                            <input id="login-password" name="password" class="input-medium" type="password" placeholder="@Res.Shared.Elements.LabelPassword" />
                                            <a href="@Res.Href.ForgotPassword">@Res.Shared.Elements.LabelForgotPassword</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="submit" class="btn pull-right" value="@Res.Shared.Elements.ButtonLogin" />
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="@Res.Href.Register">@Res.Shared.Elements.LabelRegister</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">@Model.CurrentUser.UserName&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Res.Href.EditProfile">@Res.Shared.Elements.LinkEditProfile</a></li>
                                <li class="divider"></li>
                                <li><a href="@Res.Href.Logout">@Res.Shared.Elements.ButtonLogout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div id="content">
            @RenderBody()
        </div>

        <hr />

        <footer>
            <p>&copy; @Res.Shared.Layout.CompanyName 2012</p>
        </footer>
    </div>
</body>
</html>
